@import url("https://fonts.googleapis.com/css?family=Jura:300,700|Nunito:300");

:root {
  --grey: #4a4a4a;
  --light: #e6ecf8;
  --dark: #293347;
  --main: #6c63ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: var(--dark);
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jura", sans-serif;
  color: var(--dark);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.125;
}

p {
  color: var(--grey);
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-family: "euro";
}

li {
  list-style: none;
  color: var(--grey);
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 0.2rem;
}
